## Shirra Emissions Project

In [63]:
import pandas as pd
import requests
import json

### Load API data

In [64]:
# Request API data
api_url = "https://dataportalforcities.org/api/emissions?cityid=5128581&year=2015&scope=total"
response = requests.get(api_url)

In [65]:
# Save data to local file
with open("data.json", "w") as json_file:
        json.dump(data, json_file)

In [66]:
# Open the data from local file
with open("data.json", "r") as json_file:
    data = json.load(json_file)

### Data cleaning

In [75]:
# Unnest json data and turn into pandas dataframe
rows = []
for sector_data in data['data']:
    sector = sector_data['sector']
    for emission in sector_data.get('emissions', []):
        rows.append({
            'cityid': data['cityid'],
            'city_name': data['city_name'],
            'adm1id': data['adm1id'],
            'adm1_name': data['adm1_name'],
            'countryid': data['countryid'],
            'country_name': data['country_name'],
            'regionid': data['regionid'],
            'region_name': data['region_name'],
            'year': data['year'],
            'population': data['population'],
            'scope': data['scope'],
            'sector': sector,
            'sector_code': sector_data['sector_code'],
            'subsector': emission['subsector'],
            'subsector_code': emission['subsector_code'],
            'activity_amount_mj': emission['activity_amount_mj'],
            'co2e_total_ton': emission['co2e_total_ton'],
            'notation': emission['notation']
        })
 
emissions = pd.DataFrame(rows)

In [76]:
# Convert number columns to numeric data type
emissions['co2e_total_ton'] = pd.to_numeric(emissions['co2e_total_ton'], errors='coerce')
emissions['activity_amount_mj'] = pd.to_numeric(emissions['activity_amount_mj'], errors='coerce')

In [77]:
emissions.head()

,cityid,city_name,adm1id,adm1_name,countryid,country_name,regionid,region_name,year,population,scope,sector,sector_code,subsector,subsector_code,activity_amount_mj,co2e_total_ton,notation
0,5128581,New York,5128638,New York,6252001,United States,53,North America,2015,8537673,Total emissions,Stationary energy,stationary_energy,Residential buildings,stationary_energy_residential_buildings,2.125893e+11,9.526082e+06,
1,5128581,New York,5128638,New York,6252001,United States,53,North America,2015,8537673,Total emissions,Stationary energy,stationary_energy,Commercial buildings & facilities,stationary_energy_commercial_buildings,2.802001e+11,9.296281e+06,
2,5128581,New York,5128638,New York,6252001,United States,53,North America,2015,8537673,Total emissions,Stationary energy,stationary_energy,Institutional buildings & facilities,stationary_energy_institutional_buildings,NaN,NaN,NE
3,5128581,New York,5128638,New York,6252001,United States,53,North America,2015,8537673,Total emissions,Stationary energy,stationary_energy,Industrial buildings & facilities,stationary_energy_industry,2.178365e+10,8.333157e+05,
4,5128581,New York,5128638,New York,6252001,United States,53,North America,2015,8537673,Total emissions,Stationary energy,stationary_energy,Agriculture,stationary_energy_agriculture_forestry_fisheries,7.828818e+08,1.861235e+04,

### Data exploration

In [78]:
# Sum total co2e by subsector
subsector_sum = emissions.groupby('subsector').co2e_total_ton.agg(['sum'])

In [79]:
# Format to float notation with 2 decimals
subsector_sum['sum'] = subsector_sum['sum'].apply(lambda x: f"{x:,.2f}")

In [80]:
subsector_sum

                                                sum
subsector
Agriculture                               18,612.35
Aviation                               6,123,167.70
Biological treatment                     106,064.00
CHP Generation                                 0.00
Commercial buildings & facilities      9,296,280.80
Electricity-only generation                    0.00
Fugitive emissions                             0.00
Heat/cold generation                           0.00
Incineration and open burning                  0.00
Industrial buildings & facilities        833,315.71
Industrial process                             0.00
Institutional buildings & facilities           0.00
Land use                                       0.00
Livestock                                      0.00
Local renewable generation                     0.00
Off-road                                       0.00
On-road                               20,067,936.79
Other AFOLU                                    0.00
Produce use                                    0.00
Rail                                           0.00
Residential buildings                  9,526,081.69
Solid waste disposal                  12,450,819.72
Wastewater                               194,483.74
Waterborne navigation                          0.00